
body 
{
    color: white;
    background-color: black;
    font-size: 140%;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/* === Canvas === */
canvas 
{
    border: none;
    background-color: rgb(227, 220, 195);
}
/* =============== */


/* === Text:(X),(Y) === */
.blTCurPos
{
    position: absolute;
    font-size: 65%;
}
/* =============== */

/* === Tools === */
.tools
{
    position: absolute;

}
/* =============== */


/* === Mode === */
.mode 
{
    border-radius: 8px;
    width: 32px;
    height: 32px;
    font-size: 170%;
}
.mode:hover 
{
    background-color: rgb(133, 133, 133);
}
.modeP:hover
{
    background-color: green;
}
/* =============== */


/* === Hint === */
.hint
{
    position: absolute; 
    margin-left: 700px; 
    margin-top: 280px;
    font-size: 100%; 
    color: black;
}
/* =============== */


/* === BlockScroll === */
.blockScroll
{
    width: 1496px; 
    height: 650px;
    margin-left: 37px;
    overflow: auto;
}
/* =============== */


/* === DataOut === */
.blMainData
{
    margin-top: 40px;
}
.btn 
{
    width: 100px;
    height: 25px;
    font-size: 70%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
button:focus 
{
    outline: none;
    box-shadow: none;
}
button:hover 
{
    color: rgb(255, 255, 255);
    background-color: rgb(157, 157, 157);
}
/* === Window 1 === */
.blDataOut
{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 500px;
    height: 500px;
    margin-top: -680px;
    margin-left: 500px;
    font-size: 70%;
    background-color: black;
    overflow: auto;
    display: none;
}
.dataOut
{
    margin-left: 15px;
    margin-top: 210px;
}
.dataOut2
{
    font-size: 85%;
    margin-left: 15px;
    margin-top: 70px;
}
.closeBtn
{
    position: fixed;
    border: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: none;
    width: 25px;
    height: 20px;
    margin-left: 465px;
    cursor: pointer;
}
.close:hover
{
    background-color: red;
    color: white;
}
.closeBtn2
{
    position: fixed;
    border: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: none;
    width: 25px;
    height: 20px;
    margin-left: 475px;
    cursor: pointer;
}
.closeBtn3
{
    position: fixed;
    border: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: none;
    width: 25px;
    height: 20px;
    margin-left: 475px;
    cursor: pointer;
}
/* =============== */


/* === Window 2 === */
.blImportData
{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 500px;
    height: 125px;
    margin-top: -550px;
    margin-left: 500px;
    font-size: 70%;
    background-color: black;
    display: none;
}
.TImpData
{
    position: absolute;
    font-size: 80%;
    margin-left: 122px;
    margin-top: 20px;
}
.inpImpData
{
    position: absolute;
    border: none;
    border-radius: 1px;
    width: 400px;
    height: 15px;
    margin-left: 48px;
    margin-top: 40px;
    font-weight: 600;
}
.inpImpData:focus
{
    outline: none;
    box-shadow: none;
}
.btnImp
{
    position: absolute;
    border: none;
    border-radius: 2px;
    width: 390px;
    height: 18px;
    font-size: 75%;
    margin-left: 54px;
    margin-top: 65px;
    font-weight: 600;
    cursor: pointer;
}
.errImpData
{
    position: absolute;
    margin-left: 165px;
    margin-top: 92px;
    font-size: 80%;
    color: red;
    display: none;
}
/* =============== */


/* === Window 3 === */
.blSetColor
{
    position: absolute;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 500px;
    height: 225px;
    margin-top: -550px;
    margin-left: 500px;
    font-size: 70%;
    background-color: black;
    display: none;
}
.TPR
{
    position: absolute;
    margin-left: 15px;
    margin-top: 15px;
}
.TPG
{
    position: absolute;
    margin-left: 65px;
    margin-top: 15px;
}
.TPB
{
    position: absolute;
    margin-left: 115px;
    margin-top: 15px;
}
.TPHEX
{
    position: absolute;
    margin-left: 175px;
    margin-top: 15px;
}
.inpPH
{
    border: none;
    border-radius: 1px;
    width: 55px;
    height: 14px;
    font-weight: 600;
}
.inpP
{
    border: none;
    border-radius: 1px;
    width: 25px;
    height: 14px;
    font-weight: 600;
}
.inpP,.inpPH:focus
{
    outline: none;
    box-shadow: none;
}
.fillRect
{
    position: absolute;
    border-radius: 2px;
    width: 80px;
    height: 45px;
    margin-top: 50px;
    margin-left: 209px;
    background-color: rgb(130, 70, 190);
}
.blByDefault
{
    position: absolute;
    width: 130px;
    height: 145px;
    margin-left: 15px;
    margin-top: 60px;
}
.TByDefault
{
    position: absolute;
    font-size: 72%;
    margin-left: 36px;
}
.blListColorByDefault
{
    position: absolute;
    width: 100px;
    height: 126px;
    margin-left: 15px;
    margin-top: 18px;
    overflow: auto;
}
.colByDef:hover
{
    background-color: green;
}
/*  */
.blHistory
{
    position: absolute;
    width: 130px;
    height: 145px;
    margin-left: 353px;
    margin-top: 60px;
}
.THistory
{
    position: absolute;
    font-size: 72%;
    margin-left: 45px;
}
.blListColorHistory
{
    position: absolute;
    width: 100px;
    height: 126px;
    margin-left: 15px;
    margin-top: 18px;
    overflow: auto;
}
.applyBtnSetColor
{
    position: absolute;
    border: none;
    border-radius: 2px;
    width: 150px;
    height: 15px;
    font-size: 70%;
    margin-left: 175px;
    margin-top: 195px;
    font-weight: 600;
    cursor: pointer;
}
/* =============== */


/* === Indicator === */
.indicator-canvas 
{
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: 5px;
    background-size: 20px;
    /* background-image: url(../img/canvasIndicator/notActive.png); */
    background-color: rgb(255, 21, 0);
}
/* =============== */


._btn:active
{
    background-color: green;
    color: white;
}
/* =============== */


/* === CurrentZeroCoorAxis === */
.currentZeroCoorAxis
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 5px;
}
/* =============== */


/* === CurrentSZCell === */
.currentSZCell
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 20px;
}
/* =============== */


/* === CurrentCellOffset === */
.currentCellOffset
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 35px;
}
/* =============== */


/* === CurrentNumOfDigOftDot === */
.currentNumOfDigOftDot
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 50px;
}
/* === CellSize === */
.cellSize
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 75px;
}
.inp
{
    position: absolute;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid white;
    border-radius: 2px;
    width: 35px;
    height: 14px;
    margin-left: 3px;
    margin-top: -1px;
    background-color: black;
    color: white;
    font-weight: 600;
}
.inp:focus
{
    outline: none;
    box-shadow: none;
}
/* === CellOffset === */
.cellOffset
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 94px;
}
/* === NumOfDigOftDot === */
.NumOfDigOftDot
{
    position: absolute;
    font-size: 80%;
    margin-left: 10px;
    margin-top: 114px;
}
.applyBtn
{
    position: absolute;
    width: 40px;
    height: 15px;
    font-size: 90%;
    margin-top: 0px;
    margin-left: 135px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
/* =============== */


/* === ShowBtn === */
.showBtn
{
    position: absolute;
    width: 90px;
    height: 15px;
    font-size: 80%;
    margin-top: 145px;
    margin-left: 10px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
/* =============== */


/* === TotalCells === */
.totalCells
{
    position: absolute;
    font-size: 80%;
    margin-left: 15px;
    margin-top: -40px;
}
/* =============== */


/* === TextBegin 1 ===*/
.TBegin
{
    position: absolute;
    font-size: 70%; 
    margin-left: 15px;
    margin-top: 175px;
}
/* === TextEnd ===*/
.TEnd
{
    font-size: 70%; 
    margin-left: 15px;    
}
/* =============== */


/* === TextBegin 2 ===*/
.TBegin2
{
    position: absolute;
    font-size: 70%; 
    margin-left: 15px;
    margin-top: 34px;
}
/* === TextEnd ===*/
.TEnd2
{
    font-size: 70%; 
    margin-left: 15px;    
}
/* =============== */


/* === TExp === */
.blCOPY
{
    margin-top: 10px;
    display: block;
}
.TExp
{
    position: absolute;
    font-size: 80%;
    margin-left: 15px;
    margin-top: 170px;
}
/* === TImp === */
.TImp
{
    position: absolute;
    font-size: 80%;
    margin-left: 15px;
    margin-top: 10px;
}
/* =============== */


/* === CellNW === */
.cellNWH
{
    border-radius: 3px;
    width: 100px;
    height: 17px;
    font-size: 76%;
    color: black;
    font-weight: 600;
}
.inpNWH:focus
{
    outline: none;
    box-shadow: none;
}
.applyBtnNWH
{
    width: 200px;
    height: 15px;
    font-size: 56%;
    border-radius: 2px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}
/* =============== */


/* === CheckDrawGrid === */
.CheckDrawGrid
{
    position: absolute; 
    margin-top: 10px; 
    margin-left: 6px;
}
.CheckDrawGrid:focus
{
    outline: none;
    box-shadow: none;
}
/* =============== */


/* === InpAddCom === */
.InpAddCom
{
    border: none;
    border-radius: 2px;
    width: 100px;
    height: 18px;
    font-size: 130%;
    color: black;
    font-weight: 600;
}
.InpAddCom:focus
{
    outline: none;
    box-shadow: none;
}
/* =============== */


/* === MainScroll === */
/* ширина прокрутки */
.mainScroll::-webkit-scrollbar 
{
    width: 10px;
}
 
/* цвет заднего фона прокрутки */ 
.mainScroll::-webkit-scrollbar-track
{
  background-color: rgb(220, 220, 220);
}
 
/* цвет бегунка в поле */ 
.mainScroll::-webkit-scrollbar-thumb 
{
    width: 0px;
    background-color: rgb(133, 129, 129);
}
/* =============== */
